target/*
!target/vibely-backend-*.jar
BOOT-INF/

.mvn/wrapper/maven-wrapper.jar

src/main/resources/application-local.yaml
src/main/resources/*.secret.yaml
src/main/resources/*.local.yaml

.env
.env.*

*.log
logs/

.idea/
.vscode/
*.iml
